﻿@model Spectrum.Models.CategoryViewModel
<table>
    <tr>
        <th>Sl</th>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @{ int i = 1;}
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@(i++)</td>
            <td>@category.Code</td>
            <td>@category.Name</td>
            <td></td>
        </tr>
    }
</table>

